<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="StudentDB"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=StudentDB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
#-- (localdb)\MSSQLLocalDB là SQL Server Express mặc định trên mọi Visual Studio bản Windows.
Nếu người clone dùng instance khác (ví dụ .\SQLEXPRESS), họ chỉ cần sửa lại dòng này. --