<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="StudentDB"
			 connectionString="Data Source=DESKTOP-SSUPGSG;Initial Catalog=StudentDB;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
